/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "materialize";

 body {
   background-color: white;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   min-height: 1000px;
 }

 h1, h2, h3, h4, h5, li {
   font-family: 'Open Sans', sans-serif;;
 }

 p {
   font-size: 16px;
 }

 .container {
   .page-header {
     text-align: center;
     margin-top: 0.5em;
     font-size: 72px;
   }

   .featured-image-container {
     text-align: center;
     width: 100%;
     max-width: 1080px;
     max-height: 380px;
     height: auto;
     overflow: hidden;

     img {
       position: absolute;
       transform: translateY(-50%);
       top: 50%;
     }
   }

   .post-list {
     margin-top: 2em;
     max-width: 1280px;

     a {
       color: black;
       text-decoration: none;

       &:hover {
         color: black;
       }
     }

     .post {
       margin-bottom: 20px;
     }

     .post-title {
       margin-top: -5px;
     }

     .post-date {
       font-size: 12px;
       margin-top: -20px;
       padding-left: 5px;
       color: grey;
     }
     .post-tagline {
       margin-top: -30px;
     }

     .post-body {
       padding-left: 5em;
       padding-right: 5em;
       margin-bottom: 1em;
     }

     .post-tags {
       font-size: 0.55em;
       padding-left: 5em;

     }

     .blog-image-container {

     }

     .blog-image-container img {
       width: 400px;
       max-height: 225px;
       height: auto;
     }

     .featured-post {
       max-width: 1280px;
       margin-bottom: 60px;
     }


   }
 }
